/* Base styles */
body {
  background-color: #a8dadc;
  min-width: 500px;
}
.wrapper {
  margin: 5rem;
  background-color: #f1faee;
  border-radius: 5rem;
}

.appHeader {
  background-color: #f1faee;
  border-radius: 5rem;
  padding: 20px;
  box-shadow: 3px 0 6px 0 #c9ced5;
}

.appHeader-inner {
  display: flex;
  align-items: center;
}

.companyLogo {
  height: 40px;
  margin-right: 30px;
}

.appTitle {
  font-size: 1.6rem;
  font-weight: 500;
  margin: 0;
}

.filtersContainer {
  padding-top: 80px;
  display: flex;
  justify-content: center;
}

.newsContainer {
  padding-top: 80px;
}

.newsColumnTitle {
  border-bottom: 1px solid;
  max-width: 240px;
  padding-bottom: 5px;
}

.newsList,
.readLaterList {
  list-style: none;
}

.news-readLater,
.news {
  border: 2px solid #1d3557;
  min-height: 320px;
  padding: 30px;
  border-radius: 5rem;
  box-shadow: 8px 8px 10px 1px rgba(0, 0, 0, 0.2);
  color: #1d3557;
  background-color: #f1faee;
  transition: background-color 300ms linear, color 500ms linear;
}

.news-readLater:hover,
.news:hover {
  color: #f1faee;
  background-color: #457b9d;
  border: 2px solid #457b9d;
}

.news-readLater:hover section.newsActions .button,
.news:hover section.newsActions .button {
  color: #1d3557;
  background-color: #f1faee;
  border: 0.1rem solid #f1faee;
}

section.newsActions .button {
  background-color: #457b9d;
  border: 0.1rem solid #457b9d;
  border-radius: 1rem;
  color: #fff;
  box-shadow: 0 0 0 0 #a8dadc;
  transition: background-color 300ms linear, color 500ms linear,
    box-shadow 0.3s ease-in-out;
}

section.newsActions .button:hover {
  box-shadow: 0px 0px 10px 4px #a8dadc;
}

section.newsActions .button.remove-read-later,
.news-readLater:hover section.newsActions .button.remove-read-later,
.news:hover section.newsActions .button.remove-read-later {
  color: #f1faee;
  background-color: #e63946;
  border: 0.1rem solid #e63946;
}

.readLaterList li:nth-of-type(odd) article,
.newsList li:nth-of-type(odd) article {
  margin: 0 1rem 1rem 0;
}

.readLaterList li:nth-of-type(even) article,
.newsList li:nth-of-type(even) article {
  margin: 0 0 1rem 1rem;
}

.news-readLater header {
  min-height: 110px;
  margin-bottom: 2rem;
}

.news header {
  min-height: 110px;
  margin-bottom: 2rem;
}

.newsActions {
  padding-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.readLaterItem-title {
  display: inline-block;
  margin-bottom: 5px;
}

/* CUSTOMS */
.readLaterList,
.newsList {
  display: grid;
  grid-template-columns: 50% 50%;
}

.filtersContainer label {
  text-align: center;
}

@media (max-width: 1200px) {
  .readLaterList,
  .newsList {
    display: grid;
    grid-template-columns: 100%;
  }
}

/* Larger than mobile screen */
@media (min-width: 40rem) {
  .appTitle {
    font-size: 2.4rem;
  }
}
